%ul
	%li.articles=link_to "ÄŒlanki", [:admin,:articles]
	%li.categories=link_to "Kategorije", [:admin, :categories]
	%li.tags=link_to "ZnaÄke", [:admin, :tags]
	%li.users=link_to "Uporabniki", [:admin, :users]
	%li.banners=link_to "Oglasi", [:admin, :banners]
	%li.root=link_to "Stran", root_path, :target => "_blank"