%ul
	%li=link_to "Članki", [:admin,:articles]
	%li=link_to "Kategorije", [:admin, :categories]
	%li=link_to "Značke", [:admin, :tags]
	%li=link_to "Uporabniki", [:admin, :users]
	%li=link_to "Oglasi", [:admin, :banners]