%li.banner
	.image
		=image_tag banner.image_url, |
			:width => banner.width, :height => banner.height

	.meta_i
		%ul
			- if banner.title?
				%li
					%strong=banner.title
			%li
				Image url:
				=link_to "Link", banner.image_url
			%li
				Link:
				=link_to banner.link, banner.link
			%li
				%strong From date:
				=banner.from_date
			%li
				%strong To date:
				=banner.to_date
			%li
				%strong Position:
				=banner.position
			%li
				.number_of_clicks
					%strong Number of clicks:
					= banner.number_of_clicks
	.tools
		= link_to "Edit", edit_admin_banner_path(banner)