%h1= link_to page_title("Oglasi"), admin_banners_path()

.ztabs
	%ul
		%li=link_to "Nov oglas", new_admin_banner_path()
		
.stabs
	%ul
		%li=link_to Banner.human_attribute_name(:position), admin_banners_path
		- "a,b,c".split(",").each do |pos|
			%li= link_to pos, admin_banners_path(:position => pos)

%table#banners.a
	%thead
		%tr
			%th &nbsp;
			%th=Banner.human_attribute_name(:title)
			%th=Banner.human_attribute_name(:from_date)
			%th=Banner.human_attribute_name(:to_date)
			%th=Banner.human_attribute_name(:pos)
			%th=Banner.human_attribute_name(:number_of_clicks)
			%th.tools=Banner.human_attribute_name(:tools)
	
	%tbody
		-@banners.each do |banner|
			%tr
				%td.image=image_tag banner.image_url, :width => 20, :height => 20
				%td=banner.title
				%td=banner.from_date.strftime("%e. %b %g")
				%td=banner.to_date.strftime("%e. %b %g")
				%td=banner.position
				%td=banner.number_of_clicks
				%td.tools
					= link_to t("edit"), edit_admin_banner_path(banner)