%h1=link_to "Članki", admin_articles_path()

%p
	=link_to "Nov članek", new_admin_article_path()

:css
	p.categories{ margin-top:10px; }
	p.categories,
	p.categories a.category{ display:inline-block; height:30px;
		line-height:30px; padding-left:10px; padding-right:10px }
	p.categories a.category{
	
		background-color:#3FA9F5; color:white;
	
	}

%p.categories
	=link_to "Kategorije", [:admin,:categories]

	=link_to "Vse", [:admin,:articles], :class => "category"
	- @categories.each do |category|
		=link_to category, admin_articles_path(:category_id => category.id), | 
			:class => "category", :id => "category-#{category.id}"
	

%table#articles.a
	%thead
		%tr
			%th Naslov
			%th Čas
			%th Pub
			%th.tools Orodja

	%tbody
		- @articles.each do |article|
			%tr
				%td
					%strong=link_to article, article_path(article.category, article)
					%br/
					=link_to article.author, author_path(article.author)
					v
					=link_to article.category, category_path(article.category)
				%td{:style => "text-align:center;" }
					=time_ago_in_words article.updated_at
				%td{:style => "text-align:center;" }
					-if article.published?
						Da
					-else
						Ne
				%th
					-#
						=link_to "Objavi"
						|
					=link_to "Uredi", edit_admin_article_path(article)
	%tfoot
		%tr
			%td{:colspan => 6}
				=paginate @articles, :param_name => :articles_page

