.article{:id => "article-#{article.id}"}

	- if (defined? mode).nil?
		-if article.image
			=link_to article_path(article.category, article), :class => "mainimage" do
				%img.mainimage{:src => article.image, :title => article, :alt => article}	
	
	-elsif mode == :show
		-if article.image_visible?
			-if article.image
				=link_to article_path(article.category, article), :class => "mainimage" do
					%img.mainimage{:src => article.image, :title => article, :alt => article}
		-else
			:css
				.article h2{ position:relative; }

	%h2=link_to article, article_path(article.category, article)

	.meta.clear
		.numofcom
			=link_to "0", article_path(article.category, article)+"#disqus_thread"
		
		%span.created_at
			=sanitize article_created(article)
	
	.content
		- if (defined? mode).nil?
			=raw article.intro_html
		- elsif mode == :show
			=raw article.body_html
			- if article.sources != nil && article.sources.size != 0
				-if article.sources.size == 1
					=t(:source)
					\:
					=link_to article.sources[0].title, article.sources[0].url
					\.
				-elsif  article.sources.size > 1
					=t(:sources)
					\:
					= sanitize article.sources.map { |source| link_to(source, source.url) }.join(", ")
					\.
					
	- if (defined? mode).nil?
		.readmore
			=link_to "Preberi cel članek", article_path(article.category, article)
	- elsif mode == :show
		-# Meta...
		
%hr/