
.article{:id => "article-#{article.id}"}

	-if article.image
		=link_to article_path(article.category, article), :class => "mainimage" do
			%img.mainimage{:src => article.image, :title => article, :alt => article}

	%h2=link_to article, article_path(article.category, article)

	.meta.clear
		.numofcom
			=link_to "0", article_path(article.category, article)
		%span.created_at
			- article.authors.each do |author|
				=link_to article.author, author_path(author)
			
			\,
			=article.created_at
			v
			=link_to article.category, category_path(article.category)
			
			- if article.tag_list.size == 1
				z zna훾ko
				= link_to article.tag_list.first, tag_path(article.tag_list.first)
			- elsif article.tag_list.size == 2
				z zna훾kama
				= link_to article.tag_list.first, tag_path(article.tag_list.first)			
			- elsif article.tag_list.size > 2
				z zna훾kami
				- article.tag_list.each do |tag|
					= link_to tag, tag_path(tag)
			
	.content
		=article.intro

	.readmore
		=link_to "Preberi cel 훾lanek", article_path(article.category, article)
		
%hr/