<table cellpadding="3" cellspacing="0">
	<tbody>
		<tr>
			<td valign="top" style="width:60px">
					<g:plusone size="tall"></g:plusone>
			</td>
			<td valign="top" style="width:65px">
				<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="jabolkoorg">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			
			</td>
			<td valign="top">

				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) {return;}
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#appId=206320122766024&xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-like"
					data-href="<%= article_url(article.category, article) %>"
					data-send="false" data-layout="box_count" data-width="450" data-show-faces="false"></div>

			</td>
		</tr>
	</tbody>
</table>
<div class="clear"></div>
<hr/>