<table cellpadding="3" cellspacing="0">
	<tbody>
		<tr>
			<td valign="top" style="width:60px">
					<g:plusone size="tall"></g:plusone>
			</td>
			<td valign="top" style="width:65px">
				<a href="http://twitter.com/share" class="twitter-share-button" data-count="vertical" data-via="jabolkoorg">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
			
			</td>
			<td valign="top">

				<div id="fb-root"></div>
				<script>(function(d, s, id) {
				  var js, fjs = d.getElementsByTagName(s)[0];
				  if (d.getElementById(id)) {return;}
				  js = d.createElement(s); js.id = id;
				  js.src = "//connect.facebook.net/en_US/all.js#appId=206320122766024&xfbml=1";
				  fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>

				<div class="fb-like" data-href="http://www.jabolko.org/novice/363-maclegion-jesenska-zbirka" data-send="true" data-layout="box_count" data-width="450" data-show-faces="false"></div>

				<!--
				<iframe src="http://www.facebook.com/plugins/like.php?app_id=206320122766024&amp;href&amp;send=false&amp;layout=box_count&amp;width=450&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=90" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:450px; height:90px;" allowTransparency="true"></iframe>
				-->



				<!--
				<iframe src="http://www.facebook.com/plugins/like.php?app_id=206173432740207&amp;href&amp;send=false&amp;layout=box_count&amp;width=90&amp;show_faces=false&amp;action=like&amp;colorscheme=light&amp;font&amp;height=60" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:90px; height:60px;" allowTransparency="true"></iframe>
				-->
				

				</td>
		</tr>
	</tbody>
</table>
<div class="clear"></div>
<hr/>