
.article_summary

	.summary_image
		=link_to article_path(simple_article.category,simple_article) do
			=image_tag simple_article.image
	
	%h3=link_to simple_article, article_path(simple_article.category,simple_article)
	.summary_intro
		=raw simple_article.intro_html
		
	.readmore
		=link_to t(:read_full_article), article_path(simple_article.category,simple_article)
		%span
			=t(:num_of_comments)
			%a{ :href => article_url(simple_article.category, simple_article)+"#disqus_thread", :"data-disqus-identifier"=>simple_article.jid}=0
			
%hr/