- if not @service_error

	%h2.heading2= page_title("Rezultati iskanja: #{params[:query]}")

	- if @articles.size != 0
		%div#articles
			=render :collection => @articles, :partial => 'articles/simple_article'

		.pagination_wrap
			.pagination
				=paginate @articles, :param_name => :articles_page
	- else
		%p
			Vaše iskanje ni obrodilo sadov.
			Poskusite z drugačnim naborom ključnih besed.


- else
	%h2.heading2= page_title("Napaka iskalne storitve!")
	%p Storitev, ki jo uporablja jabolko.org za iskanje je povzdročila napako.
