- page_title @article.to_s

- content_for(:head) do
	%meta{:property => "og:title", :content => @article.title}/
	%meta{:property => "og:type", :content => "article"}/
	%meta{:property => "og:url", :content => article_url(@article.category, @article)}/
	%meta{:property => "og:image", :content => @article.image}/
	%meta{:property => "og:description", :content => strip_tags(sanitize(@article.intro_html)) }/
	
#blog_article
	= render :partial => @article, :locals => {:mode => :show}

#share_article
	%h3 Posreduj članek naprej
	=share_article(@article)

#related_articles
	%h3 Sorodni članki
	%ul
		- @article.related(4).each do |article|
			%li.related_article=link_to article, article_path(article.category, article)
	.clear=""
#comments_wrap=disqus_thread(@article)