%h2.heading2= page_title "ZnaÄke"

:css
	.css1 { font-size: 1.0em; }
	.css2 { font-size: 1.2em; }
	.css3 { font-size: 1.6em; }
	.css4 { font-size: 1.8em; }

- tag_cloud(@tags, %w(css1 css2 css3 css4)) do |tag, css_class|
	=link_to tag.name, tag_path(tag.name.parameterize), :class => css_class

