%h2.heading2= page_title "ZnaÄke"


:css
	.letter { display: inline-block; margin-bottom:15px; width:150px; }
	.letter span.count { float:right; }
	.tags { widht:100%; display: block; }
	.tags li {
		display: block; 
		padding:8px 0;
		border-top:1px solid #999;
	}

	#smart-tags a{ color:#4D4D4D; }
	#smart-tags a:hover{ color:#3FA9F5; text-decoration:underline; }
	#smart-tags .tags li a:hover span.count{ text-decoration:none; }
	#smart-tags span.count { color:#CCC; text-decoration:none }


:javascript
	$(function(){
		$("#smart-tags").masonry({
			columnWidth:150,
			isFitWidth: false,
			gutterWidth: 15
		});
	});

#smart-tags
	- @letters.each do |letter|
		.letter{:class => "letter-#{letter}"}
			%h2=letter
			.tags
				%ul
					-@tags.to_a.find_all{|t| t.name.upcase[0] == letter}.sort_by(&:name).each do |tag|
						%li
							=link_to tag_path(tag.name.parameterize) do
								%span #{tag.name}
							%span.count #{tag.count}