=simple_form_for([:admin,@category]) do |f|
	-if f.object.errors.any?
		#form_errors
			%ul
				- f.object.errors.full_messages.each do |e|
					%li=e
	%ul
		%li
			=f.input :title
		%li
			=f.input :slug
		%li
			=f.input :hidden, :label => "Skrita kategorija", :as => :boolean
	
		%li
			= link_to t("back"), admin_categories_path()
			- unless f.object.new_record?
				|
				=link_to t("destroy"), admin_category_path(f.object), :method => :delete
				|
			=f.button :submit