%h1= link_to page_title("Kategorije"), admin_categories_path()

%p=link_to "Nova kategorija", new_admin_category_path()

%table#categories.a
	%thead
		%tr
			%th=Category.human_attribute_name(:title)
			%th=Category.human_attribute_name(:number_of_articles)
			%th.tools=Category.human_attribute_name(:tools)
	%tbody
		- @categories.each do |category|
			%tr
				%td
					=link_to category, category_path(category)
					\(
					=category.to_param
					\)
				%td
					=category.articles.count
				%td
					=link_to "Uredi", edit_admin_category_path(category)
	%tfoot
		%tr
			%td{:colspan => 4}
				=paginate @categories, :param_name => :categories_page
