/* Admin */

table.a {
	margin-bottom:15px;
	margin-top:15px;
	width:98%;
	
	font-size:14px;
	line-height:16px;
	
	border-collapse:collapse;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;

	td,th{
		padding:3px;
		border-bottom:1px solid #CCC;
		border-right:1px solid #CCC;
	}
	
	thead{
		td,th{ background-color:#eee;}
	}
	
	tfoot{
		td,th{
			text-align:center;
			border:none;
		}
	}
	
	thead th.tools,
	thead td.tools{
		width:110px;
	}
}

#form_errors{
	display:block; 
	border:0px solid red;
	width:98%;
	margin-top:10px; margin-bottom:10px;
	background-color:pink;
	border-top:3px solid red;
	border-bottom:3px solid red;
	
	li{ color:red; padding:3px;}
}

#admin_tools{
	border-bottom:1px solid #CCC;
	margin-bottom:10px;
	
	a{ height:20px; line-height:20px; margin-right:10px;}
	
}

.field_with_errors input,
.field_with_errors textarea
{
	border:1px solid red;
}