.heading RSS iz Apple.com
%p Novice, posodobitve, programi in napovedniki
- cache("feed_parser", :expires_in => 20.hours) do
	.tabs
		.tabNav
			%ul.tabNav
				- i = 0
				- apple_feeds_list.each do |key,val| 
					%li{:class => i==0?"selected":""}
						=link_to val["title"], "#feed-#{key}", :class => "feed-#{key}"
					- i = i+1
		.tabContent
			- i = 0
			- apple_feeds.each do |feed|
				.feed{:id => "feed-#{feed[:key]}", :style => i==0?"display: block;":"display: none;"}
					%ul.list
						- feed[:feed_data].entries.slice(0,10).each do |entry|
							%li=link_to entry.title, entry.url
				- i = i+1
