:css
	#user input[type="text"],
	#user input[type="email"],
	#user input[type="password"],
	#user input[type="url"],
	#user textarea{ width:95% }
	#errors{ display:block; width:95%; border:1px solid red; }
	ul#user li{
		margin-top:10px;
	}
	#user li.authors li { margin:0px; padding:0px }
	ul.sources{ margin-left:30px; border-bottom:1px solid #CCC; padding-bottom:5px; }

- SimpleForm.html5 = false 
=simple_form_for([:admin,@user],:html => {:novalidate => false}) do |f|
	-if f.object.errors.any?
		#form_errors
			%ul
				- f.object.errors.full_messages.each do |e|
					%li=e
	%ul#user
		%li
			=f.input :name
		%li
			=f.input :email
		%li
			=f.input :password, :required => false
		%li
			=f.input :home_url
		%li
			=f.input :twitter_name
		%li
			=f.input :facebook_name
		%li
			=f.input :github_name
		%li
			=f.input :about, :input_html => { :rows => 5 } 
			%br/
			%div{:style=>"text-align:right; width:95%"}
				=link_to "* Urejevalnik uporablja RedCloth markup", "http://redcloth.org/"
		%li
			=f.input :is_admin, :as => :boolean
		%li
			=f.input :is_author, :as => :boolean
		%li
			=f.input :is_developer, :as => :boolean

		%li
			= link_to "Nazaj", [:admin,:users]
			- unless f.object.new_record?
				|
				=link_to "Odstrani", [:admin,f.object], :method => :delete
				|
			=f.button :submit