%h1=link_to "Uporabniki", admin_users_path()
%table#users.a
	%thead
		%tr
			%th{:style => "width:40px"} ID
			%th Naziv
			%th Email
			%th.tools Orodja
	%tbody
		- @users.each do |user|
			%tr
				%th=user.id
				%td=link_to(user, author_path(user))
				%td=user.email
				%th
					=link_to "Uredi"

	%tfoot
		%tr
			%td{:colspan => 4}
				=paginate @users, :param_name => :users_page
