!!!
%html
	%head
		%meta(charset="utf-8")
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		
	%body#error404
		#container
			%img(src="http://sveze-jabolko-common.s3.amazonaws.com/images/404.gif" alt="jabolko 404")

			.clear
	
			=render :partial => 'layouts/footer'
