#about
	%h1 Apple uporabniki slovenije
	%p Združenje uporabnikov tehnologij podjetja Apple.
	%a#twitter_sidebar(href="http://twitter.com/jabolkoorg" target="_blank")
		=image_tag 'twitter_sidebar.png'
	%a#facebook_sidebar(href="http://www.facebook.com/group.php?gid=15631334625" target="_blank")
		=image_tag 'facebook_sidebar.png'
	%a#koornk_sidebar(href="http://feeds.feedburner.com/jabolkoorg-sok" target="_blank")
		=image_tag 'rss_header.png'