#about
	%h1 Apple uporabniki slovenije
	%p Združenje uporabnikov tehnologij podjetja Apple.
	
	#social_exchange
		%ul
			%li.rss
				=link_to "RSS Vir (FeedBurner)", |
					"http://feeds.feedburner.com/jabolkoorg-sok", |
					:title => "RSS Vir (FeedBurner)", |
					:target => "_blank"
			%li.twitter
				=link_to "Twitter: @jabolkoorg", |
					"http://twitter.com/jabolkoorg", |
					:title => "Twitter: @jabolkoorg", |
					:target => "_blank"
			%li.linkedin
				=link_to "Apple uporabniki Slovenije Jabolko.org", |
					"http://www.linkedin.com/groups?about=&gid=2857495&trk=anet_ug_grppro", |
					:title => "Apple uporabniki Slovenije Jabolko.org", |
					:target => "_blank"
			%li.facebook
				=link_to "Facebook: Apple uporabniki Slovenije Jabolko.org", |
					"https://www.facebook.com/pages/Apple-uporabniki-Slovenije-Jabolkoorg/209885181941", |
					:title => "Facebook: Apple uporabniki Slovenije Jabolko.org", |
					:target => "_blank"
			%li.googleplus
				=link_to "Google+: Apple uporabniki Slovenije Jabolko.org", |
					"https://plus.google.com/105831877969806831737", |
					:title => "Google+: Apple uporabniki Slovenije Jabolko.org", |
					:target => "_blank"