#sidebar
	#admin_side_tools.menu
		%ul.list
			%li=link_to t("articles"), [:admin,:articles]
			%li=link_to t("categories"), [:admin,:categories]
			%li=link_to t("tags"), [:admin,:tags]
			%li=link_to t("users"), [:admin,:users]
			%li=link_to t("banners"), [:admin, :banners]