#sidebar
	#admin_side_tools.menu
		%ul.list
			%li.articles=link_to t("articles"), [:admin,:articles]
			%li.categories=link_to t("categories"), [:admin,:categories]
			%li.tags=link_to t("tags"), [:admin,:tags]
			%li.users=link_to t("users"), [:admin,:users]
			%li.banners=link_to t("banners"), [:admin, :banners]