#footer
	#footerlinks
		%ul
			%li=link_to "Domov", root_path()
			%li
				%a(href="mailto:info@jabolko.org?Subject=Želim oglaševati na Jabolko.org") Oglaševanje
			%li
				%a(href="/stran/o-nas") O nas
			%li
				%a(href="mailto:info@jabolko.org") Kontakt
			%li
				%a(href="/stran/sodeluj") Sodeluj
			%li
				%a(href="http://www.facebook.com/group.php?gid=15631334625") Facebook
			%li
				%a(href="http://twitter.com/jabolkoorg") Twitter
			%li
				%a(href="/stran/pravno-obvestilo") Pravno obvestilo
			%li.last
				%a(href="http://feeds.feedburner.com/jabolkoorg-sok") RSS
		.clear
	#disclaimer
		#minilogo
			%img(alt="Jabolkomini" src="http://sveze-jabolko-common.s3.amazonaws.com/images/jabolkomini.png")
		%p
			Uporaba informacij, ki so v lasti Jabolko.org je dovoljena le za nekomercialne namene z navedbo vira in avtorja. | 
			Društvo Apple uporabnikov Slovenije Jabolko.org ni avtorizirano, sponzorirano ali priznano s strani Apple Inc. | 
			Vsi logotipi in blagovne znamke na tej strani so v lasti njihovih spoštljivih lastnikov. | 
			Vse pravice pridržane © 2009 - 2011 Jabolko.org

		%p
			=link_to "Administracija", admin_path()