#infoboxbg		
	#infobox
		.left
			%h3 Mac
			%ul
				%li
					%a(href="http://www.apple.com/getamac/whichmac/" target="_blank") Kakšen Mac je primeren zame?
				%li
					%a(href="/blog/35-zakaj-se-boste-zaljubili-v-Maca") Zakaj se boste zaljubili v Mac-a?
				%li
					%a(href="http://www.apple.com/getamac/faq/" target="_blank") Pogosta vprašanja o Macu?
				%li
					%a(href="http://www.apple.com/getamac/ads/" target="_blank") TV reklame
			%h3 iPhone
			%ul
				%li
					%a(href="http://www.apple.com/iphone/why-iphone/" target="_blank") Zakaj ga boš vzljubil?
				%li
					%a(href="http://www.apple.com/iphone/business/apps-for-iphone/" target="_blank") Poslovne lastnosti
				%li
					%a(href="http://www.apple.com/iphone/why-iphone/" target="_blank") Kakšne aplikacije lahko uporabljam na iPhonu?</a></li>
				%li
					%a(href="http://www.apple.com/iphone/business/integration/" target="_blank") Integracija

		.right
			%h3 Programska oprema
			.links
				%ul.firstcol
					%li
						%a(href="http://www.apple.com/macosx/" target="_blank") Mac OS X Snow Leoard
					%li
						%a(href="http://www.apple.com/safari/" target="_blank") Safari 4
					%li
						%a(href="http://www.apple.com/ilife/" target="_blank") iLife 11
					%li
						%a(href="http://www.apple.com/iwork/" target="_blank") iWork 
					%li
						%a(href="http://www.apple.com/itunes/" target="_blank") iTunes
					%li
						%a(href="http://www.apple.com/mobileme/" target="_blank") MobileMe
					%li
						%a(href="http://www.apple.com/logicstudio/" target="_blank") Logic Studio
					%li
						%a(href="http://www.apple.com/aperture/" target="_blank") Aperture 3
					%li
						%a(href="http://www.apple.com/quicktime/" target="_blank") QuickTime Pro
					%li
						%a(href="http://www.apple.com/finalcutstudio/" target="_blank") Final Cut Studio
					%li
						%a(href="http://www.apple.com/remotedesktop/" target="_blank") Apple Remote Desktop
					%li
						%a(href="http://www.apple.com/xsan/" target="_blank") Xsan
				%ul.secondcol
					%li
						%a{:href => "http://www.adobe.com/products/creativesuite/?promoid=DNOWM", :target => "_blank"} Adobe CS5
					%li
						%a{:href => "http://www.microsoft.com/mac/default.mspx", :target => "_blank"} Microsoft Office for Mac
					%li
						%a(href="http://www.google.com/chrome?platform=mac" target="_blank") Google Chrome
					%li
						%a{:href => "http://www.mozilla.com/en-US/firefox/personal.html", :target => "_blank"} Firefox
					%li
						%a{:href => "http://www.skype.com/intl/en/download/skype/macosx/", :target => "_blank"} Skype
					%li
						%a{:href => "http://www.roxio.com/enu/products/toast/titanium/overview.html", :target => "_blank"} Toast 10
					%li
						%a{:href => "http://www.maxon.net/en/home.html", :target => "_blank"} Cinema 4D
					%li
						%a{:href => "http://www.macrabbit.com/cssedit/", :target => "_blank"} CSSedit
					%li
						%a{:href => "http://www.gimp.org/macintosh/", :target => "_blank"} Gimp
					%li
						%a{:href => "http://www.videolan.org/vlc/download-macosx.html", :target => "_blank"} VLC
					%li
						%a{:href => "http://www.blender.org/education-help/faq/mac-os-x/", :target => "_blank"} Blender
					%li
						%a(href="http://macromates.com/" target="_blank") TextMate
		.clear