#sidebar
	#banner_space=render :partial => 'layouts/sidebar/banner'
	#tabed_module.menu=render :partial => 'layouts/sidebar/tabed_module'
	#top_viewed.menu=render :partial => 'layouts/sidebar/top_viewed'
	#sidebar_content.menu=render :partial => 'layouts/sidebar/content'
	#feedParser.menu=render :partial => 'layouts/sidebar/feed_parser'