#sidebar
	#banner260x150
		.oglasni_prostor
			%a(href="mailto:info@jabolko.org?Subject=Želim oglaševati na Jabolko.org") Oglasni prostor
			%a(href="http://www.razvijalci.si/" class="banner" target="_blank")
				%img(alt="Najava_razvijalcev" height="148" src="http://sveze-jabolko-common.s3.amazonaws.com/images/banners/najava_razvijalcev.jpg" width="258")