#sidebar
	#banner260x150
		.oglasni_prostor
			%a(href="mailto:info@jabolko.org?Subject=Želim oglaševati na Jabolko.org") Oglasni prostor
			-#
				%a(href="http://www.razvijalci.si/" class="banner" target="_blank")
					%img(alt="Najava_razvijalcev" height="148" |
						src="http://sveze-jabolko-common.s3.amazonaws.com/images/banners/najava_razvijalcev.jpg" width="258")
			
			- Banner.for_position('a').each do |banner|
				= render :partial => "admin/banners/sidebar_banner", :locals => {:banner => banner}
				
	
	
	#tabed_module.menu
		.heading Zadnji komentarji
		%p Seznam zadnjih komentarjev na foromu.
		.tabs
			.tabNav
				%ul.tabNav
					%li.selected
						%a(href="http://forum.jabolko.org") Forum
					%li
						=link_to "Blog", root_path()
			.tabContent
				#forum
					%ul.list
						-if sidebar_forum_posts(7).each do |post|
							%li
								= link_to post["url"] do
									= sanitize post["topic_title"]
						- end.empty?
							%li # Napaka pri obdelavi vira!
						
									
				#blog{:style => "display:none"}
					%ul.list
						%li
							%a(href="http://aaaa") aaaa...
	
	.menu
		.heading Priljubljeno
		%p Najbolj priljubljeni članki na blogu.
		%ul.list
			- Article.top_viewed.each do |article|
				%li
					=link_to article, article_path(article.category, article)
	.menu
		.heading Vsebina
		%p Najdi vsebino po avtorjih in značkah
		%ul.list
			%li
				%a=link_to "Seznam avtorjev", authors_path()
			%li
				%a=link_to "Seznam značk", tags_path()
			%li
				%a(href="mailto:sodeluj@jabolko.org" target="_self") Postani avtor
			%li
				%a(href="mailto:info@jabolko.org" target="_self") Prijavi napako
	.menu