%ul#topnav
	%li.selected
		=link_to root_path() do
			%span Domov
	%li
		=link_to "/novice" do
			%span Novice
	%li
		=link_to "/mac" do
			%span Mac
	%li
		=link_to "/iphone-ipod" do
			%span iPhone / iPad
	%li
		=link_to "/ipad" do
			%span iPad
	%li
		=link_to "/snelkurs" do
			%span Šnelkurs
	%li
		=link_to "http://forum.jabolko.org" do
			%span Forum