%ul#topnav
	%li.selected
		=link_to root_path() do
			%span Domov
	%li
		=link_to :url => "Novice" do
			%span Novice
	%li
		=link_to :url => "Mac" do
			%span Mac
	%li
		=link_to :url => "iPhone / iPod" do
			%span iPhone / iPad
	%li
		=link_to :url => "iPad" do
			%span iPad
	%li
		=link_to :url => "Šnelkurs" do
			%span Šnelkurs
	%li
		=link_to "http://forum.jabolko.org" do
			%span Forum