!!!
%html
	%head=render :partial => 'layouts/head'
		
	%body{ :class => [ (user_signed_in?? "signed_in" : nil), |
		((user_signed_in? && current_user.is_admin?)? "is_admin":nil ) ].join(" ").strip }
		#container
			#header
				#logo
					=link_to root_path() do
						=image_tag "jabolko.png"
										
				=render :partial => 'layouts/topnav'	
				=render :partial => 'layouts/about'
				=render :partial => 'layouts/search'
				
			#main
							
				-if flash[:errors]
					.ui-widget
						.ui-state-error.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:errors]
				
				-if flash[:error]
					.ui-widget
						.ui-state-error.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:error]

				-if flash[:alert]
					.ui-widget
						.ui-state-error.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:alert]
				
				-if	flash[:notice]
					.ui-widget
						.ui-state-highlight.ui-corner-all(style="margin-bottom: 20px; padding: 10px; width:95%")
							%p
								%span(class="ui-icon ui-icon-info" style="float: left; margin-right: .3em;")
								%strong=flash[:notice]
			
				=yield
				%br/
			
			- if @is_administration != nil 
				=render :partial => 'layouts/admin_sidebar'
			-else
				=render :partial => 'layouts/sidebar'
				
			.clear
	
		=render :partial => 'layouts/infobox'
		=render :partial => 'layouts/footer'