!!!
%html
	%head
		%meta(charset="utf-8")
		
		= stylesheet_link_tag    "application"
		= javascript_include_tag "application"
		= csrf_meta_tags
		
	%body{ :class => [ (user_signed_in?? "signed_in" : nil), |
		((user_signed_in? && current_user.is_admin?)? "is_admin":nil ) ].join(" ").strip }
		#container
			#header
				#logo
					=link_to root_path() do
						%img(src="http://sveze-jabolko-common.s3.amazonaws.com/images/jabolko.png")
				
				=render :partial => 'layouts/topnav'	
				=render :partial => 'layouts/about'
				
			#main
			
				- if user_signed_in? && current_user.is_admin?
					#admin_tools
						=link_to t("administration"), admin_path()
						&raquo;
						=link_to t("articles"), [:admin,:articles]
						=link_to t("categories"), [:admin,:categories]
						=link_to t("users"), [:admin,:users]
			
				#errors=flash[:errors]
				#notices=flash[:notice]
			
				=yield
				%br/
			
			=render :partial => 'layouts/sidebar'
				
			.clear
	
	=render :partial => 'layouts/infobox'
	=render :partial => 'layouts/footer'
		